In [5]:
import env
import pandas as pd
import os

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def new_zillow_data():
    '''
    This function reads the zillow data from the Codeup db into a dataframe.
    '''
    # Create SQL query.
    sql_query = '''
    SELECT prop.*, 
       pred.logerror, 
       pred.transactiondate, 
       air.airconditioningdesc, 
       arch.architecturalstyledesc, 
       build.buildingclassdesc, 
       heat.heatingorsystemdesc, 
       landuse.propertylandusedesc, 
       story.storydesc, 
       construct.typeconstructiondesc 

FROM   properties_2017 prop  
       INNER JOIN (SELECT parcelid,
       					  logerror,
                          Max(transactiondate) transactiondate 
                   FROM   predictions_2017 
                   GROUP  BY parcelid, logerror) pred
               USING (parcelid) 
       LEFT JOIN airconditioningtype air USING (airconditioningtypeid) 
       LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid) 
       LEFT JOIN buildingclasstype build USING (buildingclasstypeid) 
       LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid) 
       LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid) 
       LEFT JOIN storytype story USING (storytypeid) 
       LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid) 
WHERE  prop.latitude IS NOT NULL 
       AND prop.longitude IS NOT NULL AND transactiondate <= '2017-12-31'
    '''
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('zillow'))
    
    return df

def get_zillow_data():
    '''
    This function reads in titanic data from Codeup database, writes data to a csv file if a local file does not exist, and returns a df.
    ''' 
    if os.path.isfile('zillow.csv'):
        # If csv file exists, read in data from csv file.
        df = pd.read_csv('zillow.csv', index_col=0)
        
    else:
        # read the SQL query into a dataframe
        df = new_zillow_data()
        
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv('zillow.csv')

        # Return the dataframe to the calling code
    return df

In [6]:
zillow_df = get_zillow_data()

In [7]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77574 non-null  int64
 1   parcelid                      77574 non-null  int64
 2   airconditioningtypeid         25006 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77574 non-null  float64
 6   bedroomcnt                    77574 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49808 non-null  float64
 9   calculatedbathnbr             76959 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6035 non-null   float64
 12  calculatedfinishedsquarefeet  77374 non-null  float64
 13  finishedsquarefeet12          73919 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6035 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77574 non-null  float64
 19  fireplacecnt                  8287 non-null   float64
 20  fullbathcnt                   76959 non-null  float64
 21  garagecarcnt                  25517 non-null  float64
 22  garagetotalsqft               25517 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49569 non-null  float64
 25  latitude                      77574 non-null  float64
 26  longitude                     77574 non-null  float64
 27  lotsizesquarefeet             69317 non-null  float64
 28  poolcnt                       16173 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15078 non-null  float64
 33  propertycountylandusecode     77574 non-null  object
 34  propertylandusetypeid         77574 non-null  float64
 35  propertyzoningdesc            50474 non-null  object
 36  rawcensustractandblock        77574 non-null  float64
 37  regionidcity                  76102 non-null  float64
 38  regionidcounty                77574 non-null  float64
 39  regionidneighborhood          30973 non-null  float64
 40  regionidzip                   77524 non-null  float64
 41  roomcnt                       77574 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49569 non-null  object
 65  propertylandusedesc           77574 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

In [4]:
n = len(pd.unique(zillow_df['parcelid']))
  
print("No.of.unique values :", 
      n)

No.of.unique values : 52320