In [1]:
import env
import pandas as pd
import os

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def new_zillow_data():
    '''
    This function reads the zillow data from the Codeup db into a dataframe.
    '''
    # Create SQL query.
    sql_query = '''
    SELECT * FROM zillow.predictions_2017
    left join properties_2017 using(parcelid)
    where transactiondate < '2018-01-01' and propertylandusetypeid = 261;
    '''
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('zillow'))
    
    return df

def get_zillow_data():
    '''
    This function reads in titanic data from Codeup database, writes data to a csv file if a local file does not exist, and returns a df.
    ''' 
    if os.path.isfile('zillow.csv'):
        # If csv file exists, read in data from csv file.
        df = pd.read_csv('zillow.csv', index_col=0)
        
    else:
        # read the SQL query into a dataframe
        df = new_zillow_data()
        
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv('zillow.csv')

        # Return the dataframe to the calling code
    return df

In [2]:
zillow_df = get_zillow_data()

In [3]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52441 entries, 0 to 52440
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   id                            52441 non-null  int64
 2   logerror                      52441 non-null  float64
 3   transactiondate               52441 non-null  object
 4   id.1                          52441 non-null  int64
 5   airconditioningtypeid         13638 non-null  float64
 6   architecturalstyletypeid      70 non-null     float64
 7   basementsqft                  47 non-null     float64
 8   bathroomcnt                   52441 non-null  float64
 9   bedroomcnt                    52441 non-null  float64
 10  buildingclasstypeid           0 non-null      float64
 11  buildingqualitytypeid         33740 non-null  float64
 12  calculatedbathnbr             52304 non-null  float64
 13  decktypeid                    389 non-null    float64
 14  finishedfloor1squarefeet      4381 non-null   float64
 15  calculatedfinishedsquarefeet  52359 non-null  float64
 16  finishedsquarefeet12          52194 non-null  float64
 17  finishedsquarefeet13          0 non-null      float64
 18  finishedsquarefeet15          0 non-null      float64
 19  finishedsquarefeet50          4381 non-null   float64
 20  finishedsquarefeet6           165 non-null    float64
 21  fips                          52441 non-null  float64
 22  fireplacecnt                  7243 non-null   float64
 23  fullbathcnt                   52304 non-null  float64
 24  garagecarcnt                  18015 non-null  float64
 25  garagetotalsqft               18015 non-null  float64
 26  hashottuborspa                1515 non-null   float64
 27  heatingorsystemtypeid         33935 non-null  float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertylandusetypeid         52441 non-null  float64
 38  propertyzoningdesc            33848 non-null  object
 39  rawcensustractandblock        52441 non-null  float64
 40  regionidcity                  51404 non-null  float64
 41  regionidcounty                52441 non-null  float64
 42  regionidneighborhood          19033 non-null  float64
 43  regionidzip                   52415 non-null  float64
 44  roomcnt                       52441 non-null  float64
 45  storytypeid                   47 non-null     float64
 46  threequarterbathnbr           6724 non-null   float64
 47  typeconstructiontypeid        76 non-null     float64
 48  unitcnt                       33847 non-null  float64
 49  yardbuildingsqft17            1937 non-null   float64
 50  yardbuildingsqft26            63 non-null     float64
 51  yearbuilt                     52325 non-null  float64
 52  numberofstories               14561 non-null  float64
 53  fireplaceflag                 81 non-null     float64
 54  structuretaxvaluedollarcnt    52357 non-null  float64
 55  taxvaluedollarcnt             52440 non-null  float64
 56  assessmentyear                52441 non-null  float64
 57  landtaxvaluedollarcnt         52440 non-null  float64
 58  taxamount                     52437 non-null  float64
 59  taxdelinquencyflag            2079 non-null   object
 60  taxdelinquencyyear            2079 non-null   float64
 61  censustractandblock           52318 non-null  float64
dtypes: float64(55), int64(3), object(4)
memory usage: 25.2+ MB

In [4]:
n = len(pd.unique(zillow_df['parcelid']))
  
print("No.of.unique values :", 
      n)

No.of.unique values : 52320